.env
cache/
artifacts/
typechain/
node_modules/
dist/
build/

node_modules
dist/
build/
.vscode
.idea

coverage
coverage.json
.coverage_artifacts
.coverage_cache
.coverage_contracts
types/
deployed-contracts.json